{% extends 'base.html' %}
{% load geometry %}

{% block crumbs %}
    <a href="{% url "draw:albums:list" %}">Альбомы</a>
    <span>/{{ object.id }}</span>
{% endblock %}

{% block content %}
    <h3>Many to many</h3>
{% for obj in object.draws.all %}
    <p>Рисунок {{ obj.title }} <a href="{% url "draw:detail" obj.id %}">Ссылка</a> </p>
{% endfor %}
    <h3>Добавить рисунок</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit">Добавить</button>
    </form>
{% endblock %}