{% extends 'base.html' %}
{% load geometry %}

{% block crumbs %}
    Рисунки
{% endblock %}

{% block content %}
    <table>
        <tbody>
        {% for obj in object_list %}
            <tr>
                <td>
                    {% render_shape shape=obj %}
                </td>
                <td>
                    <a href="{% url "draw:detail" obj.draw_id %}">Рисунок {{ obj.draw_id }}</a>
                </td>
                <td>
                    <a href="{% url "draw:albums:detail" obj.draw.album_set.first.id %}">Альбом {{ obj.draw.album_set.first.id }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}